@model ria_libros.Models.Libros

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Libros</h4>
<hr />
@if (ViewBag.validacion == true)
{
<div class="alert alert-danger alert-dismissible fade show alerta" role="alert">
    <strong>Oops</strong> parece que este libro ya esta en nuestra lista, te recomentamos volver a hechar un vistazo
    al <a asp-controller="Libros" asp-action="Index">Listado de libros</a>
    
</div>
}
<div class="row">
    <div class="col-md-4">
        <!--Este multipart/form-data es mandatorio para que el sitio web permita subir archivos-->
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="año" class="control-label"></label>
                <input asp-for="año" class="form-control" />
                <span asp-validation-for="año" class="text-danger"></span>
            </div>
                <!--Con el atributo accept especificamos el tipo de documento el programa va a aceptar-->
                <input type="file" name="files" class="form-control bg-secondary text-white mb-3" id="autoSizingInputGroup" accept=".pdf" required>
                
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado de libros</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
